[tool.poetry]
name = "healpix-alchemy"
version = "0.2.1"
description = "SQLAlchemy extensions for HEALPix spatially indexed astronomy data"
readme = "README.md"
authors = ["Leo Singer <leo.singer@ligo.org>"]
license = "BSD-3-clause"
repository = "https://github.com/skyportal/healpix-alchemy"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Topic :: Database",
    "Topic :: Scientific/Engineering :: Astronomy"
]

[tool.poetry.dependencies]
python = "^3.7"
astropy = "*"
astropy_healpix = "*"
mocpy = ">=0.9"
sqlalchemy = "*"

[tool.poetry.dev-dependencies]
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-postgresql = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
